<!doctype html>
<html>
    <head>
        <style>
            form {{
                background-color: #eee;
                padding: 20px;
                margin: 0 auto;
                width: 540px;
                font: 16px sans-serif;
                border-radius: 10px;
            }}


        </style>
    </head>
    <body>
        <form method= 'POST'>
            <style>
                .error {{color:red;}}
            </style>
            <h1>Signup</h1>
            <label> Username
            <input name="username" type="text" value='{username}' />
            </label>
            <p class="error">{error_username}</p>

            <br/>

            <label> Password
            <input name="password" type="password" value='{password}' />
            </label>
            <p class="error">{error_password}</p>
            <br/>
                       

            <label> Verify Password
            <input name="verify_password" type="password" value='{verify_password}' />
            </label>
            <p class="error">{error_verify_password}</p>

            <br/>

            <label>Email (optional)
            <input name="email" type="text" value='{email}' />
            </label>
            <p class="error">{error_email}</p>

            <br/>
            <input type="submit"  />
        
        </form>
    </body>
</html>
"""